In [1]:
# Import Necessary Packages
import leafmap
import pandas as pd
import geopandas as gpd

In [3]:
df = pd.read_json("https://a5c7zwf7e5.execute-api.ap-southeast-2.amazonaws.com/dev/offences?locationType=Lga&startDate=9-28-2025&locationName=Brisbane&endDate=09-30-2025&format=JSON")
df.head()

,Type,Date,Postcode,Area of Interest,ABS Meshblock
0,Other Theft (excl. Unlawful Entry),2025-09-28,4006,Brisbane,36449400000
1,Fraud,2025-09-28,4067,Brisbane,30562360600
2,Good Order Offences,2025-09-28,4007,Brisbane,30031070000
3,Other Theft (excl. Unlawful Entry),2025-09-28,4122,Brisbane,30092290000
4,Other Theft (excl. Unlawful Entry),2025-09-28,4108,Brisbane,30056392000

In [24]:
absgdf= gpd.read_file("./Data/ABS_Data/MB_2016_QLD.dbf")
absgdf.head(100)

,MB_CODE16,MB_CAT16,SA1_MAIN16,SA1_7DIG16,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,30000009499,NOUSUALRESIDENCE,39999949999,3949999,399999499,39499,No usual address (Qld),39999,No usual address (Qld),399,No usual address (Qld),39499,No usual address (Qld),3,Queensland,0.0000,None
1,30000010000,Parkland,31802148912,3148912,318021489,31489,Townsville - South,31802,Townsville,318,Townsville,3RQLD,Rest of Qld,3,Queensland,0.0387,"POLYGON ((147.06415 -19.24665, 147.06417 -19.2..."
2,30000020000,Parkland,31802148912,3148912,318021489,31489,Townsville - South,31802,Townsville,318,Townsville,3RQLD,Rest of Qld,3,Queensland,0.0071,"POLYGON ((147.07147 -19.25762, 147.07141 -19.2..."
3,30000030000,Parkland,31802148912,3148912,318021489,31489,Townsville - South,31802,Townsville,318,Townsville,3RQLD,Rest of Qld,3,Queensland,0.0004,"POLYGON ((147.0615 -19.24606, 147.06146 -19.24..."
4,30000050000,Residential,31503140809,3140809,315031408,31408,Barcaldine - Blackall,31503,Outback - South,315,Queensland - Outback,3RQLD,Rest of Qld,3,Queensland,0.0432,"POLYGON ((145.24063 -22.97139, 145.24083 -22.9..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,30001090000,Primary Production,30605116626,3116626,306051166,31166,Atherton,30605,Tablelands (East) - Kuranda,306,Cairns,3RQLD,Rest of Qld,3,Queensland,2.7469,"POLYGON ((145.41963 -17.24612, 145.41732 -17.2..."
96,30001100000,Parkland,30605116612,3116612,306051166,31166,Atherton,30605,Tablelands (East) - Kuranda,306,Cairns,3RQLD,Rest of Qld,3,Queensland,0.3153,"POLYGON ((145.46816 -17.26612, 145.46826 -17.2..."
97,30001110000,Parkland,30605116626,3116626,306051166,31166,Atherton,30605,Tablelands (East) - Kuranda,306,Cairns,3RQLD,Rest of Qld,3,Queensland,13.5644,"POLYGON ((145.41963 -17.24612, 145.43426 -17.2..."
98,30001122000,Industrial,30605116614,3116614,306051166,31166,Atherton,30605,Tablelands (East) - Kuranda,306,Cairns,3RQLD,Rest of Qld,3,Queensland,0.3027,"POLYGON ((145.48214 -17.25732, 145.48119 -17.2..."
99,30001131000,Industrial,30605116613,3116613,306051166,31166,Atherton,30605,Tablelands (East) - Kuranda,306,Cairns,3RQLD,Rest of Qld,3,Queensland,0.0464,"POLYGON ((145.47658 -17.25442, 145.4765 -17.25..."

In [29]:
absgdf['longitude'] = absgdf["geometry"].centroid.x
absgdf['latitude'] = absgdf["geometry"].centroid.y
absgdf['MB_CODE16'] = absgdf['MB_CODE16'].astype(int)
print(absgdf["longitude"])
print(absgdf["latitude"])

0               NaN
1        147.063018
2        147.072146
3        147.061558
4        145.241845
            ...
69759           NaN
69760           NaN
69761           NaN
69762           NaN
69763           NaN
Name: longitude, Length: 69764, dtype: float64
0              NaN
1       -19.246690
2       -19.257614
3       -19.245964
4       -22.970668
           ...
69759          NaN
69760          NaN
69761          NaN
69762          NaN
69763          NaN
Name: latitude, Length: 69764, dtype: float64

In [30]:
absgdf.dtypes

MB_CODE16        int64
MB_CAT16        object
SA1_MAIN16      object
SA1_7DIG16      object
SA2_MAIN16      object
SA2_5DIG16      object
SA2_NAME16      object
SA3_CODE16      object
SA3_NAME16      object
SA4_CODE16      object
SA4_NAME16      object
GCC_CODE16      object
GCC_NAME16      object
STE_CODE16      object
STE_NAME16      object
AREASQKM16     float64
geometry      geometry
longitude      float64
latitude       float64
dtype: object

In [33]:
crimedf= pd.merge(df, absgdf, left_on="ABS Meshblock", right_on = "MB_CODE16", how = "inner") 
crimedf.tail()

,Type,Date,Postcode,Area of Interest,ABS Meshblock,MB_CODE16,MB_CAT16,SA1_MAIN16,SA1_7DIG16,SA2_MAIN16,...,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry,longitude,latitude
670,Unlawful Entry,2025-09-30 23:00:00,4109,Brisbane,30563608000,30563608000,Residential,30304106906,3106906,303041069,...,303,Brisbane - South,3GBRI,Greater Brisbane,3,Queensland,0.0396,"POLYGON ((153.05375 -27.57047, 153.05345 -27.5...",153.054376,-27.569292
671,Unlawful Entry,2025-09-30 23:05:00,4069,Brisbane,30109320000,30109320000,Residential,30402109105,3109105,304021091,...,304,Brisbane - West,3GBRI,Greater Brisbane,3,Queensland,0.4861,"POLYGON ((152.92031 -27.52263, 152.92015 -27.5...",152.916376,-27.519595
672,Other Property Damage,2025-09-30 23:10:00,4014,Brisbane,30563054800,30563054800,Residential,30203103916,3103916,302031039,...,302,Brisbane - North,3GBRI,Greater Brisbane,3,Queensland,0.0373,"POLYGON ((153.08404 -27.36495, 153.08416 -27.3...",153.084209,-27.366463
673,Other Theft (excl. Unlawful Entry),2025-09-30 23:59:00,4170,Brisbane,30102690000,30102690000,Residential,30502111715,3111715,305021117,...,305,Brisbane Inner City,3GBRI,Greater Brisbane,3,Queensland,0.0238,"POLYGON ((153.07431 -27.48335, 153.07427 -27.4...",153.072537,-27.482753
674,Other Theft (excl. Unlawful Entry),2025-09-30 23:59:00,4170,Brisbane,30102690000,30102690000,Residential,30502111715,3111715,305021117,...,305,Brisbane Inner City,3GBRI,Greater Brisbane,3,Queensland,0.0238,"POLYGON ((153.07431 -27.48335, 153.07427 -27.4...",153.072537,-27.482753

In [34]:
crimedf2 = crimedf[["Type","Date","Postcode","longitude","latitude"]]
crimedf2

,Type,Date,Postcode,longitude,latitude
0,Fraud,2025-09-28 00:00:00,4067,152.999242,-27.494815
1,Good Order Offences,2025-09-28 00:00:00,4007,153.073461,-27.430422
2,Other Theft (excl. Unlawful Entry),2025-09-28 00:00:00,4122,153.096048,-27.529907
3,Other Theft (excl. Unlawful Entry),2025-09-28 00:00:00,4108,153.025112,-27.570431
4,Other Theft (excl. Unlawful Entry),2025-09-28 00:00:00,4006,153.042183,-27.457156
...,...,...,...,...,...
670,Unlawful Entry,2025-09-30 23:00:00,4109,153.054376,-27.569292
671,Unlawful Entry,2025-09-30 23:05:00,4069,152.916376,-27.519595
672,Other Property Damage,2025-09-30 23:10:00,4014,153.084209,-27.366463
673,Other Theft (excl. Unlawful Entry),2025-09-30 23:59:00,4170,153.072537,-27.482753
674,Other Theft (excl. Unlawful Entry),2025-09-30 23:59:00,4170,153.072537,-27.482753

In [43]:
m = leafmap.Map(center=(-27.4705, 153), zoom=11)
m.add_points_from_xy(crimedf2, x="longitude", y="latitude")
m

Map(center=[-27.4705, 153], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_…